* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}

body {
    font-family: 'Poppins', Roboto, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
    margin: 1rem auto;
    max-width: 1120px;
}

.header-left {
    color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo-img {
    margin-right: 2rem;
    width: 10rem;
}

.header-middle {
    width: 30rem;
    height: 2rem;
}

.search-bar {
    padding: 0 1rem;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar input {
    font-size: 0.9rem;
    width: 25rem;
    height: 2rem;
    border: none;
}

.search-bar input::placeholder {
    opacity: 0.75;
    color: black;
}

.search-bar img {
    opacity: 0.35;
}

.login-btn {
    color: white;
    border-radius: 5px;
    padding: 0.75rem 2rem;
    background-color: #00d09c;
}

.container1 {
    height: 75vh;
    max-height: 50rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem auto;
    max-width: 1120px;
}

.container1 .container1-left {
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
}

.description {
    display: flex;
    flex-direction: column;
}

.description h2 {
    font-size: 2.5rem;
}

.description a {
    margin-top: 2rem;
    color: white;
    border-radius: 5px;
    padding: 0.75rem 2rem;
    background-color: #00d09c;
    text-align: center;
    width: fit-content;
}

.container1-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.rows {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 1rem 0;
    column-gap: 1.5rem;
}

.rows .card {
    color: rgba(0,0,0,0.75);
    cursor: pointer;
    font-weight: 500;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-content: space-evenly;
    height: 8rem;
    width: 12rem;
    box-shadow: 3px 6px 24px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
}

.container3 {
    padding: 10rem;
    color: white;
    height: 40vh;
    background: url("Media/shield.png") no-repeat, linear-gradient(90deg, rgba(13, 112, 200, 1) 0%, rgba(0, 22, 249, 0.8) 100%);
    background-position: right;
    display: flex;
    justify-content: center;
    max-height: 30rem;
}

.container3 section {
    display: flex;
}

.container3 .center-box {
    max-width: 1120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.container3>section>.center-box>h1 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.container4 {
    margin: 0 auto;
    max-width: 1120px;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-section {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
    align-items: center;
}

.card-section>.card {
    height: 20rem;
    width: 30%;
    margin: 3rem 2rem;
    text-align: center;
}

.card-section>.card>img {
    width: 100%;
    padding-bottom: 2rem;
}

.card-section>.card>p {
    color: rgba(0, 0, 0, 0.75);
}

.container4 a {
    margin: 5rem auto;
}

.container4 .press {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.press span,
.container4>.tagline {
    font-size: 2rem;
    background: #fff;
    padding: 0 10px;
}

.press-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.container4 .press-container .press-link {
    margin: 2rem auto;
}

.container5 {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: #f6f6f7;
}

.container5 section {
    max-width: 1120px;
    margin: 0 auto;
    width: auto;
}

section .subtext {
    color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-between;
}

section .subtext a {
    color: #00d09c;
    font-weight: 600;
}

.reviews {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.reviews .review-card {
    border-radius: 0.5rem;
    padding: 1.5rem;
    width: 28%;
    background-color: #fff;
}

.review-card:hover {
    box-shadow: 1px 1rem 1rem rgba(0, 0, 0, 0.1);
}

.container6 {
    height: 75vh;
    max-height: 50rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem auto;
    max-width: 1120px;
}

.container6 .container6-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-right: 10%;
}

.container6-right {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container6-right img,
.container6-right>.mobile>img {
    height: 100%;
    width: 100%;
}

.container6-right>div,
.container6-right>.mobile>img {
    margin: 1rem;
    text-align: center;
    width: 100%;
}

.container6-left>.description {
    color: rgba(0, 0, 0, 0.75);
    margin-bottom: 1rem;
}

.description h2 {
    margin-bottom: 1rem;
}

.container6-left .box {
    display: flex;
    column-gap: 1rem;
    padding-top: 2rem;
}

.container7 {
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container7>section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2rem auto;
    max-width: 1120px;
    height: 20rem;
    background: #00d09c;
    color: #fff;
    padding: 2rem 0;
    border-radius: 1rem;
    box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.2);
}

section .section-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    padding: inherit;
}

section .section-left>h3 {
    font-size: 2rem;
}

section .section-left>a {
    border-radius: 5px;
    padding: 0.75rem 2rem;
    background-color: #fff;
    text-align: center;
    width: fit-content;
}

section .mobile-card {
    position: relative;
    bottom: -2rem;
}

footer {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1e2232;
}

footer section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem auto 0 auto;
    max-width: 1120px;
    color: #fff;
    padding: 2rem 0;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-logo {
    width: 60%;
    margin: 1rem auto;
}

.footer-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem auto 0 auto;
    max-width: 1120px;
    color: #fff;
    width: 100%;
    align-items: center;
    padding: 1rem 0;
}

footer section table {
    width: 60%;
}

footer section table a {
    color: rgba(256, 256, 256, 0.75);
    font-weight: 300;
}

footer section table th {
    width: 20%;
    height: 3rem;
}

footer section table tr {
    text-align: left;
    vertical-align: center;
}
